<app-navbar></app-navbar>
<ion-content class="bodyProductos">
    <div class="nav">
      <ion-button class="btnBack" (click)="back()"><ion-icon class="iconBack" src="./assets/img/icon/back.svg" routerLink="/options"></ion-icon></ion-button>
      <div class="nameRestaurant">
        <h5>Vegetalia Restaurant</h5>
      </div>
      <div class="buttons">
        <ion-button><img class="iconBack" src="./assets/img/icon/corazon-gray.png"></ion-button>
        <ion-button><ion-icon class="iconBack" src="./assets/img/icon/compartir.svg"></ion-icon></ion-button>
        <ion-button (click)="cart()"><ion-icon class="iconBack" src="./assets/img/icon/icono-carrito.svg"></ion-icon></ion-button>
      </div>
    </div>
    <div class="body">
      <div class="contentImage">
        <ion-slides [options]="options">
          <ion-slide *ngFor="let image of product?.images">
            <img src="{{ image.img }}"/>
          </ion-slide>
        </ion-slides>
      </div>
      <div class="bodyDetalles"> 
        <ion-grid>
          <ion-row>
            <ion-col size="7">
              <div class="box">
                  <p>{{ product?.description }}</p>
              </div>
              <div class="box">
                <p>Ingredientes:</p>
                <p *ngFor="let p of product?.ingredients">
                  {{ p.name }}
                </p>
              </div>
              <div class="box">
                <p>Alergenos:</p>
                <p *ngFor="let p of product?.no_ingredients">
                  {{ p.name }}
                </p>
              </div>
              <div class="box" *ngIf="product?.nutritional_values">
                <p>Valores nutricionales:</p>
                <p>Grasas:<span slots="end">{{ product?.fat }}</span></p>
                <p>Proteina:<span slots="end">{{ product?.protein }}</span></p>
                <p>Carbohidratos :<span slots="end">{{ product?.carbohydrates }}</span></p>
                <p>Total calorias::<span slots="end">{{ product?.total_calories }}</span></p>
              </div>
            </ion-col>
            <ion-col size="5">
              <p class="price">{{ product?.price_with_iva }} €</p>
              <div class="inputGroup">
                <ion-button (click)="less()">-</ion-button>
                <ion-input type="text" value="{{cant}}" [(ngModel)]="cant"></ion-input>
                <ion-button (click)="more()">+</ion-button>
                <p>cantidad</p>
              </div>
              <ion-button class="btnBuy" (click)="agregarEntrega()">Comprar</ion-button>
              <ion-grid>
                <ion-row>
                  <ion-col size="4">
                    <img class="icon" src="assets/img/icon/dinner.png">
                  </ion-col>
                  <ion-col size="4">
                    <img class="icon" src="assets/img/icon/take.png">
                  </ion-col>
                  <ion-col size="4">
                    <img class="icon" src="assets/img/icon/moto.png">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
</ion-content>
