.bodyProductos{
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
        ion-button{
            width: 30%;
            --background: transparent;
        }
        .btnBack{
            --padding-start: 5px !important;
            --padding-end: 5px !important;
            --padding-top: 0px !important;
            --padding-bottom: 0px !important;
            .iconBack{
                font-size: 24px;
                text-align: left;
                margin-right: auto;
            }   
        }
        .nameRestaurant{
            width: 50%;
            h5{
                font-size: 13px;
                text-align: center;
                color: #494947;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin: auto;
            }
        }
        .buttons{
            width: 30%;
            display: flex;
            justify-content: flex-end;
            ion-button{
                font-size: 16px;
                --padding-start: 10px !important;
                --padding-end: 10px !important;
                --padding-top: 0px !important;
                --padding-bottom: 0px !important;
                margin: 0;
                ion-icon{
                    transform: scale(2);
                }
                img{
                    transform: scale(1.3);
                }
            }
        }
    }
    .body{
        .contentImage{
            ion-slides{
                ion-slide{
                    img{
                        max-height: 220px;
                        object-fit: cover;
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }
        .bodyDetalles{
            .box{
                border-bottom: 1px solid #c1c1c1;
                padding: 10px 0;
                margin-left: 10px;
                &:last-child{
                    border-bottom: none;
                }
                p{
                    color:#494947;
                    margin: 5px;
                    font-size: 14px;
                    span{
                        float: right;
                    }
                    @media (max-width: 349px){
                        font-size: 12px;
                    }
                }
            }
            .price{
                display: flex;
                justify-content: center;
                align-items: self-start;
                font-size: 38px;
                margin: 0;
                font-weight: bold;
                color: #494947;
                span{
                    font-size: 18px;
                    margin-top: 8px;
                }
            }
            .inputGroup{
                display: flex;
                align-items: center;
                margin-top: 10px;
                ion-button{
                    --padding-start: 10px !important;
                    --padding-end: 10px !important;
                    --padding-top: 5px !important;
                    --padding-bottom: 5px !important;
                    --background: transparent;
                    --background-focused: transparent;
                    --background-hover: transparent;
                    --background-activated: transparent;
                    --color: #494947;
                    --color-activated: #494947;
                    --color-focused: #494947;
                    color: #494947;
                    @media (max-width: 349px){
                        --padding-start: 5px !important;
                        --padding-end: 5px !important;
                    }
                }
                ion-input{
                    border: 1px solid #c1c1c1;
                    width: 40px;
                    min-width: 20px;
                    max-width: 30px;
                    height: 24px;
                    text-align: center;
                    --padding-end: 3px;
                }
                p{
                    margin: 0;
                    font-size: 12px;
                    color: #494947;
                    text-align: center;
                    font-weight: bold;
                }
            }
            .btnBuy{
                --padding-start: 15px !important;
                --padding-end: 15px !important;
                --padding-top: 10px !important;
                --padding-bottom: 10px !important;
                --background: #4e5d6a;
                --background-focused: #4e5d6a;
                --background-hover: #4e5d6a;
                --background-activated: #4e5d6a;
                color: #fff;
                display: block;
                margin: 10px auto;
                max-width: max-content;
            }
            .icon{
                
            }
        }
    }
}