<ion-content class="bodyEliminar">
  <div class="body">
    <ion-button>	
      <ion-icon class="mx-0 iconclose" name="close" color="" mode="md"></ion-icon>
    </ion-button>
    <div class="text">
      <h5>Estas seguro que deseas eliminar</h5>
      <span>*****899</span>
    </div>
  </div>
</ion-content>
<ion-footer class="footer">
  <div class="dflexCenter">
    <ion-button mode="md" class="confirm" (click)="delete()">Confirmar</ion-button>
    <ion-button mode="md" class="cancel" (click)="closeModal()">Volver</ion-button>
  </div>
</ion-footer>
