.bodyAgregarTarjeta{
    .body{
        .title{
            margin: 0;
            text-align: center;
            color: #4e5d6a;
        }
        padding: 10px;
        ion-item{
            margin-bottom: 8px;
            --color: #666;
            --border-width: 0 0 0px 0;
            border-bottom: 1px solid #4e5d6a;
            ion-label{
                padding-bottom: 0px;
            }
            .labelStacked{
                margin-bottom: 3px;
            }
            .edit{
                input{
                    padding-bottom: 0px;
                    margin-top: -2px;
                }
            }
        }
        .inline-items{
            display: flex;
            ion-item{
                &:nth-child(1){
                    width: 50%;
                }
                &:nth-child(2){
                    width:50%;
                }
            }
        }
    }
}

.footer{
    background: #fff;
    padding: 5px 20px;
    --background-colorr: transparent;
    border: none;
    box-shadow: none;
    &:after, &:before{
        background-image: none;
    }
    .dflexCenter{
        display: flex;
        justify-content: center;
        ion-button{
            width: 45%;
            font-size: 12pt;
            --padding-start: 10px !important;
            --padding-end: 10px !important;
            --padding-top: 10px !important;
            --padding-bottom: 10px !important;
        }
        ion-button.confirm{
            --background: #4e5d6a;
            --background-focused: #4e5d6a;
            --background-hover: #4e5d6a;
            color: #fff;
            font-weight: bold;
        }
        ion-button.cancel{
            --background: #a0a9c0;
            --background-focused: #a0a9c0;
            --background-hover: #a0a9c0;
            color: #fff;
            font-weight: bold;
        }
    }
}