<div class="boxCalculate">
  <div class="body">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-input type="text" [(ngModel)]="data" class="inputText" (ionInput)="getItems($event)"></ion-input>
        </ion-col>
        <ion-col size="12">
          <div class="d-flex">
            <span>€</span>
            <!-- <p>12,00</p> -->
            <ion-input [ngModel]="total" name="total" class="inputEdit"></ion-input>
            <ion-list *ngIf="isItemAvailable">
              <ion-item *ngFor="let item of items" (click)="setData(item.name, item.key)">{{ item.name }}</ion-item>
            </ion-list>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="rowEdit">
            <button class="number" (click)="setNumber('1')">1</button>
            <button class="number" (click)="setNumber('2')">2</button>
            <button class="number" (click)="setNumber('3')">3</button>
            <button class="number" (click)="setNumber('4')">4</button>
            <button class="number" (click)="setNumber('5')">5</button>
            <button class="number" (click)="setNumber('6')">6</button>
            <button class="number" (click)="setNumber('7')">7</button>
            <button class="number" (click)="setNumber('8')">8</button>
            <button class="number" (click)="setNumber('9')">9</button>
            <button class="number" (click)="setNumber(',')">,</button>
            <button class="number" (click)="setNumber('0')">0</button>
            <button class="number" (click)="send()"><ion-icon src="assets/img/icon/check.svg"></ion-icon></button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>