.boxCalculate{
    *{
        outline: none;
    }
    .inputText{
        width: 100%;
        height: 35px;
        line-height: 35px;
        box-shadow: none;
        border: none;
        padding: 5px;
        padding: 5px 8px;
        color: #666;
        background-color: #FFF;
    }

    .d-flex{
        display:flex;
        justify-content: center;
        color: #fff;
        padding-bottom: 10px;
        border-bottom: 1px dashed #fff;
        span{
            margin-right: 0;
            padding-top: 13px;
            font-size: 22px;
            margin: 0 5px;
        }
        .inputEdit{
            margin: 0 auto;
            font-size: 48px;
            max-width: 90%;
            color: #fff;
            background-color: transparent;
            border: none;
            box-shadow: none;
            text-align: center;
            &::placeholder{
                color: #fff;
            }
        }
        ion-button{
            --background: transparent;
            --background: transparent;
            --background-focused: transparent;
            --background-hover: transparent;
            --color: #ffffff;
            --color-activated: #ffffff;
            --color-focused: #ffffff;
            padding-bottom: 0;
            --padding-bottom: 0 !important;
            --overflow: visible;
            ion-icon{
                transform: scale(2.5) translateX(-2px);
            }
        }
    } 
    .rowEdit{
        display: flex;
        flex-wrap: wrap;
        button{
            height: 55px;
            width: 33.3%;
            background: transparent;
            color: #fff;
            font-size: 24px;
            ion-icon{
                transform: scale(2.2);
            }
        }
        .check{
            ion-icon{

            }
        }
    }

    .editCalculate{
        position: absolute;
        right: 30px;
        left: 30px;
        z-index: 9999;
    }
}