<ion-content class="bodyExplorar">
	<div class="titleModal">
		<ion-button (click)="close()">
			<img src="assets/img/icon/back.svg" alt="">
		</ion-button>
		<h5>
			<ion-icon class="IconNav" src="assets/img/icon/ojo2.svg"></ion-icon>
			Explorar
		</h5>
	</div>
	<div class="boxButtons">
		<ion-button (click)="status.comer = !status.comer" [ngClass]="status.comer ? 'active' : ''">Comer</ion-button>
		<ion-button (click)="status.salud = !status.salud" [ngClass]="status.salud ? 'active' : ''">Salud</ion-button>
		<ion-button (click)="status.cuidado = !status.cuidado" [ngClass]="status.cuidado ? 'active' : ''">Cuidado Personal</ion-button>
		<ion-button (click)="status.fuel = !status.fuel" [ngClass]="status.fuel ? 'active' : ''">Fuel</ion-button>
		<ion-button (click)="status.entretenimiento = !status.entretenimiento" [ngClass]="status.entretenimiento ? 'active' : ''">Entretenimiento</ion-button>
		<ion-button (click)="status.kids = !status.kids" [ngClass]="status.kids ? 'active' : ''">Kids</ion-button>
		<ion-button (click)="status.deporte = !status.deporte" [ngClass]="status.deporte ? 'active' : ''">Deporte</ion-button>
		<ion-button (click)="status.viajes = !status.viajes" [ngClass]="status.viajes ? 'active' : ''">Viajes Hoteles</ion-button>
		<ion-button (click)="status.alimentos = !status.alimentos" [ngClass]="status.alimentos ? 'active' : ''">Alimentos</ion-button>
		<ion-button (click)="status.transporte = !status.transporte" [ngClass]="status.transporte ? 'active' : ''">Transporte</ion-button>
	</div>
</ion-content>
