<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="ion-text-center boxLogo">
        <img class="logoImg" src="assets/img/logo-raus.png" alt="logotipo">
        <p class="blue-dark">..The way you like</p>
      </div>
      <div class="ion-text-center">
        <ion-text color="bluewelcome">
            <p class="font24">
                Que alegría <br>
                tenerte aqui!
            </p>
        </ion-text>
        <ion-text color="bluewelcome">
            <p class="font24">
                En pocos <br>
                pasos estarás <br>
                disfrutando de <br>
                Raus.
            </p>
        </ion-text>
     
          <ion-button class="font15" color="bluedark" routerLink="/register1">
            Comenzar
          </ion-button>
      </div>
</ion-content>
