<ion-header>
  <ion-toolbar>
  <ion-button slot="start" (click)="close()">
      <ion-icon class="iconBack" src="assets/img/icon/back.svg" ></ion-icon>
    </ion-button>
    <ion-title>Términos y condiciones del servicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil reiciendis hic tempore vel quis, rem perferendis dignissimos explicabo nemo, natus accusantium quo! Quaerat vel iste, facilis ab porro tenetur minus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil reiciendis hic tempore vel quis, rem perferendis dignissimos explicabo nemo, natus accusantium quo! Quaerat vel iste, facilis ab porro tenetur minus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil reiciendis hic tempore vel quis, rem perferendis dignissimos explicabo nemo, natus accusantium quo! Quaerat vel iste, facilis ab porro tenetur minus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil reiciendis hic tempore vel quis, rem perferendis dignissimos explicabo nemo, natus accusantium quo! Quaerat vel iste, facilis ab porro tenetur minus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil reiciendis hic tempore vel quis, rem perferendis dignissimos explicabo nemo, natus accusantium quo! Quaerat vel iste, facilis ab porro tenetur minus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil reiciendis hic tempore vel quis, rem perferendis dignissimos explicabo nemo, natus accusantium quo! Quaerat vel iste, facilis ab porro tenetur minus!</p>
</ion-content>



