<ion-header no-border>
    <ion-toolbar color="">
        <ion-grid  class="ion-no-padding">
            <ion-row class="ion-no-padding bgWhite" style="height: 64px;">
                <ion-col size="4" class="ion-no-padding ion-align-self-center">
                    <img class="logoNav" src="assets/img/logo-raus.png" alt="logo">
                </ion-col>
                <ion-col size="8" class="ion-no-padding ion-text-right ion-align-self-center">
                    <ion-button color="white" class="actionIcon" (click)="notificaciones()">
                        <ion-icon class="IconNav" src="assets/img/icon/campa3.svg"></ion-icon>
                    </ion-button>
                    <ion-button color="white" class="actionIcon ion-align-self-center">
                        <ion-icon class="IconNav" src="assets/img/icon/inbox3.svg"></ion-icon>
                    </ion-button>
                    <ion-button color="white" class="actionIcon ion-align-self-center">
                        <ion-icon class="IconNav" src="assets/img/icon/ra2.svg"></ion-icon>
                    </ion-button>
                    <ion-button color="white" class="actionIcon ion-align-self-center" (click)="cart()">
                        <ion-icon  class="IconNav NavbarCarrito" src="assets/img/icon/icono-carrito.svg"></ion-icon>
                    </ion-button>
                    <ion-button color="white" class="actionIcon ion-align-self-center" (click)="explorar()">
                        <ion-icon class="IconNav" src="assets/img/icon/ojo2.svg"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content class="bodyHome">
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event, 1)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-grid class="ion-no-padding bg-head">
		<ion-row >
			<ion-col class="" size="5" class="hgLine">
				<ion-icon class="" name="menu" routerLink="/options"></ion-icon>
				<p class="name">{{ name }}</p>
			</ion-col>
			<ion-col size="4" class="saldo px-0">
				<p class="text my-0 ">Saldo:</p>
				<p class="my-0  alignPrice"> <span class="count">{{ count }}</span> <span class="decimal">,{{ count2 }}€</span></p>
			</ion-col>
			<ion-col class="ion-justify-content-center ion-align-self-center ion-text-center bgBlue" size="3" (click)="calculate()">
				<ion-icon class="iconPlay" name="play"></ion-icon> 
				<span>Enviar</span>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-text color="bluelight" class="font16">
		<p class="ion-text-center bodyHome__title">Tus promociones</p>
	</ion-text>
	<ion-slides pager="true" [options]="slideOpts">
		<ion-slide *ngFor="let promotion of promotions"  >
			<ion-card class="customCard" (click)="goToProduct(promotion._id,promotion.id_restaurant)" >
				<div class="boxBanner">
					<ion-slides>
						<ion-slide class="changeStyle" *ngFor="let img of promotion.images">
							<img class="imgCarta3" [src]="img.img | satinizer: 'url'" alt="avatar perfil"> 
						</ion-slide>
					</ion-slides>
				</div>  
				<ion-card-content class="bodyCard" >
					<ion-row>
						<ion-col class="ion-no-padding ion-align-self-center " size="12">
							<div class="spaceItems">
								<p class="hgPCarta my-0 customDarkText font12 title">
									{{ promotion.name }}
								</p> 
								<p class="my-0 hgPCarta ion-text-center customDarkText price">
									<span class="font12 a">{{ promotion.price1 }}</span>
									<span class="font8 b">,{{ promotion.price2 }}€</span>
								</p>
							</div>
							<p class="hgPCarta my-0 customDarkText font12 subtitle">
								{{ promotion.description }}
							</p> 
						</ion-col>
						<ion-col class="ion-no-padding" size="12">
							<div  style="position: relative;" >
								
							</div>
						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>
		</ion-slide>
	</ion-slides>
	<div class="ion-text-center" class="boxFilter">
		<ion-button (click)="showContain(0)" [ngClass]="{'active': restaurantes==true, ' ':restaurantes==false }"  mode="md" class="btn a">
			<span class="box"></span>
			<span class="box"></span>
			Productos
		</ion-button>
		<ion-icon class="font24" color="bluelight" name="pin" (click)="doRefresh($event, 2)"></ion-icon>
		<ion-button (click)="showContain(1)" [ngClass]="{'active': productos==true, ' ':productos==false }"  mode="md" class="btn b">
			<span class="box"></span>
			Restaurantes
		</ion-button>
	</div>
	<ion-grid *ngIf="restaurantes">
		<ion-row > 
			<ion-col size="6"  *ngFor="let producto of products">
				<ion-card class="customCard m-0" (click)="goToProduct(producto._id,producto.id_restaurant)">
					<div class="boxBanner">
						<ion-slides>
							<ion-slide class="changeStyle" *ngFor="let imagen of producto.images" >
								<img class="imgCarta3" src="{{imagen.img}}" alt="avatar perfil"> 
							</ion-slide>
						</ion-slides>
					</div>  
					<ion-card-content class="bodyCard">
						<ion-row>
							<ion-col class="ion-no-padding ion-align-self-center " size="12">
								<div class="spaceItems">
									<p class="hgPCarta my-0 customDarkText font12 title">
										{{producto?.name}}
									</p> 
									<p class="my-0 hgPCarta ion-text-center customDarkText price">
										<span class="font12 a">{{ producto?.price1 }}.</span>
										<span class="font8 b">{{ producto?.price2 }}€</span>
									</p>
								</div>
								<p class="hgPCarta my-0 customDarkText font12 subtitle">
									{{producto?.description}}
								</p> 
							</ion-col>
						</ion-row>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid *ngIf="productos" class="px-0">
		<ion-card class="customCard horizontal" *ngFor="let restaurant of restaurants">
			<ion-row>
				<ion-col class="px-0 p-0" size="5">
					<img *ngIf="restaurant.slider" class="imgCarta2" [src]="restaurant.slider | satinizer: 'url'" alt="avatar perfil"> 
					<img *ngIf="!restaurant.slider" class="imgCarta2" src="./assets/img/restaurantdefault.jpeg" alt="avatar perfil"> 
				</ion-col>
				<ion-col class="px-0" size="7">
					<ion-row class="pt-2">
						<ion-col size="5">
							<p class="my-0 font10 titleCard">
								{{ restaurant.name }}
							</p>
						</ion-col>
						<ion-col class="ion-align-self-center ion-justify-content-center text-align-center" size="3" (click)="goToRestaurant(restaurant.key)">
							Ir <ion-icon class="" name="play"></ion-icon>
						</ion-col>
						<ion-col class="ion-align-self-center ion-justify-content-center text-align-center" style="font-size: 10px" size="4">
						
							<div   > Distancia {{ restaurant.dist }} Kms</div>
						</ion-col>
					</ion-row>
					<ion-row class="boxStatus">
						<ion-col class="px-0 ion-text-center" >
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8 font-edit">Sabor</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8 font-edit">Atención</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8 font-edit">Lugar</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8 font-edit">Tiempo</p>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-card>
	</ion-grid>
</ion-content>
