.bgWhite {
    background-color: #fff;
}
.bg-head{
    background: #f9f9f9;
    color: #000;
}
.imgAvatar {
    border: 1px solid #bfdcf5;
    padding: 1px;
    min-height: 100%;
}

.saldo{
    display: flex;
    align-items: center;
    justify-content: center;
    .text{
        font-size: 16px;
        color: #475c6d;

    }
    .alignPrice{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        max-width: 100%;
        margin-top: 0px;    
        z-index: 500;
        .text{
            color: #475c6d;
            font-size: 16px !important;
        }
        .count{
            font-size: 16px !important;
            text-overflow: ellipsis;
            /* overflow: hidden; */
            white-space: nowrap;
            color: #9d8755;
            max-width: 40px;
        }
        .decimal{
            font-size: 16px;
            color: #9d8755;

        }
    }   
}

.avatar{
    margin: auto;
 }
ion-slide.changeStyle img {
    max-width: 100% !important;
    max-height: 230px !important;
    margin:0 !important;
} 
 .imgCarta3 {
    width: 100%;
    height: 135px !important;
    object-fit: cover !important;
    @media (max-width: 320px){
        height: 95px !important;
    }
}




.decimalPCarta {
    position: absolute;
    margin-left: 3px;
    top:-18%;
}

.customDarkText{
    color:#494947
}

.hgLine {
    line-height: 0.8;
    display: flex;
    align-items: center;
    ion-icon{
        font-size: 25px;
    }
    .name{
        margin-left: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: calc(100% - 30px);
        font-size: 16px;
        color: #475c6d;
    }
}

.logoNav {
    width: 80px;
    height: auto;
    margin-left: 10px;
    padding:3px;
}

.bgBlue {
    background-color: #657b9f;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    .iconPlay{
        font-size: 2rem;
        color: #fff;
    }
    span{
        font-size: 14px;
    }
}

.bodyHome{
    &__title{
        margin: 10px auto -5px;
        font-size: 20px;
        color: #657b9f;
       

    }

    .customCard{
        .bodyCard{
            padding: 10px;
            .spaceItems{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .title{
                    width: 60%;
                }
                .price{
                    width: 40%;
                    margin-top: 10px;
                }
            }
            .title{
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.2 !important;
                font-size: 16px !important;
            }
            .subtitle{
                text-align: left ;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.2 !important;
                font-size: 14px !important;
            }
            .price{
                display: flex;
                justify-content: flex-end;
                margin-top: 5px;
                .a{
                    font-size: 26px !important;
                    white-space: nowrap;
                    /* overflow: hidden; */
                    text-overflow: ellipsis;
                    max-width: 60px;
                    @media (max-width: 320px){
                        font-size: 16px !important;
                    }
                }
                .b{
                    margin-top: 3px;
                }
            }
        }
    }

    .customCard.horizontal{
        .p-0{
            padding: 0;
        }
        .titleCard{
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp:2;
            -webkit-box-orient: vertical;  
            height: 34px;
            padding: 0 5px;
        }
        .imgCarta2{
            object-fit: cover;
            object-position: center;
            height: 125px;
            width: 100%;
            
        }
        .text-align-center{
            text-align: center;
        }
        .boxStatus{
            .font-edit{
                font-size: 10px;
                @media (max-width: 320px){
                    font-size: 10px !important;
                }
            }
        }
    }
}
 
 .IconNav {
     font-size: 16pt;
 }
 

 ion-button {
	ion-badge {
        position: absolute;
        top: 0.3rem;
        right: 0.4rem;
        opacity: 0.9;
        font-size: 6px;
        padding: 2px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
		& ~ ion-icon {
			margin-right: 1.2rem;
		}
    }
    
    ion-badge.email {
        position: absolute;
        top: .3rem;
        right: .2rem;
        opacity: 0.9;
        font-size: 6px;
        padding: 2px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
		& ~ ion-icon {
			margin-right: 1.2rem;
		}
	}
}

ion-button.btnNoPadding {
    padding: 0 !important;
}

:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}
.swiper-slide {
    display: block;
}
ion-slide > h2 {
    margin-top: 2.8rem;
}
ion-slide > img {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
}

.boxFilter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .btn{
        --padding-start: 5px;
        --padding-end: 5px;
        letter-spacing: 0;
        padding: 0 10px;
        font-size: 13px;
        width: 40%;
        --background: transparent;
        color: #494947;
        --color: #494947;
        --color-activated: #494947;
        --color-focused: #494947;
        &:nth-child(2){
            span{
                width: 45px;
            }
        }
    }
    
    .btn.a{
        span{
            width: 17.5px;
            height: 17.5px;
            background-color: #ccc;
            margin-right: 2.5px;
            &:nth-child(2){
                margin-right: 5px;
            }
        }
    }
    .btn.b{
        span{
            width: 50px;
            height: 17.5px;
            background-color: #ccc;
            margin-right: 5px;
        }
    }
    .btn.active{
        color: #657b9f;
        span{
            background-color: #657b9f;
        }
    }  
}
.m-0{
    margin: 0;
}

.logoNav {
    width: 90px;
    height: auto;
    margin-left: 10px;
    padding:3px;
}

.IconNav {
    font-size: 23pt;
    font-weight: bold;
}

.NavbarCarrito{
    transform: scale(1.25);
}

.actionIcon{
    margin: 0;
}