<ion-content class="bodyCarrito">
	<div class="nav">
		<ion-button class="btnBack" (click)="back()"><ion-icon class="iconBack" src="assets/img/icon/back.svg" routerLink="/options"></ion-icon></ion-button>
		<div class="nameRestaurant">
			<h5>Tu compra</h5>  
			<p *ngIf="del">{{ restaurant }}</p>
			<p *ngIf="!del">Sin restaurante</p>
		</div>
	</div>
	<div class="body">
		<ion-grid *ngIf="del">
			<ion-row class="align-center border-bottom" *ngFor="let product of products; let i = index">
				<ion-col size="5">
					<ion-item lines="none" class="itemEdit">
						<ion-thumbnail slot="start">
							<img src="{{ product.productData.images[0].img }}">
						</ion-thumbnail>
						<ion-label>{{ product.productData.name }}</ion-label>
					</ion-item>
				</ion-col>
				<ion-col size="3">
					<div class="inputGroup">
						<ion-button (click)="less(product.key, i)">-</ion-button>
						<ion-input type="text" value="{{ product.quantity }}" [(ngModel)]="product.quantity"></ion-input>
						<ion-button (click)="more(product.key, i)">+</ion-button>
					</div>
				</ion-col>
				<ion-col size="4" class="d-flex">
					<p>{{ product.price | mask }}€</p>
					<ion-button (click)="deleteProduct(product.key, i)"><ion-icon name="close"></ion-icon></ion-button>
				</ion-col>
			</ion-row>
			<ion-row class="align-center border-bottom" *ngIf="del">
				<ion-col size="5">
					<ion-item lines="none" class="itemEdit">
						<ion-thumbnail slot="start">
							<img src="assets/img/icon/moto.png">
						</ion-thumbnail>
						<ion-label>Delivery</ion-label>
					</ion-item>
				</ion-col>
				<ion-col size="3">
					<span class="text-center">1</span>
				</ion-col>
				<ion-col size="4" class="d-flex">
					<p>5,00€</p>
					<ion-button><ion-icon name="close"></ion-icon></ion-button>
				</ion-col>
			</ion-row>
			<ion-row class="align-center border-bottom" *ngIf="del">
				<ion-col size="12">
					<div class="rowPrice">
						<p>Sub total</p>
						<span>{{ subtotal | mask }}€</span>
					</div>
					<div class="rowPrice">
						<p>IVA</p>
						<span>{{ iva | mask }}€</span>
					</div>
					<div class="rowPrice">
						<p>Total</p>
						<span>{{ total | mask }}€</span>
					</div>
				</ion-col>
			</ion-row>
			<ion-row class="border-bottom">
				<ion-col size="12" class="info">
					<p>Delivery: </p>
					<p>{{ name }}</p>
					<div class="d-flex2">
						<p>{{ addresses?.street }} {{ addresses?.number }} {{ addresses?.zipcode }} {{ addresses?.city }} {{ addresses?.country }} {{ addresses?.phone }}</p>
						<ion-button slots="end" (click)="addAddress()"><ion-icon src="/assets/img/icon/lapiz.svg"></ion-icon></ion-button>
					</div>
					<!-- <div class="d-flex2" *ngIf="!showadd">
						<p>Debe ingresar una dirección para realizar el delivery</p>
						<ion-button slots="end" (click)="addAddress()"><ion-icon src="/assets/img/icon/lapiz.svg"></ion-icon></ion-button>
					</div> -->
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="12" class="info">
					<p>Datos de facturación: </p>
					<p>{{ name }}</p>
					<p>DNI:<span> {{ dni }}</span></p>
				</ion-col>
				<ion-col size="12">
					<ion-button class="btnPago" (click)="send()">Enviar pago</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-grid *ngIf="!del">
			<ion-row class="align-center border-bottom">
				<ion-col size="12">
					Su carrito de encuentra vacío en este momento
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
