.bodyCarrito{
    .nav{
        display: flex;
        justify-content: center;
        padding: 0 10px;
        ion-button{
            --background: transparent;
            --background-focused: transparent;
            --background-hover: transparent;
            --background-activated: transparent;
            --color: #494947;
            --color-activated: #494947;
            --color-focused: #494947;
        }
        .btnBack{
            margin-right: auto;
            .iconBack{
                font-size: 34px;
            }   
        }
        .nameRestaurant{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            max-width: 60%;
            h5{
                font-size: 20px;
                text-align: center;
                color: #494947;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin-bottom: 0;
            }
            p{
                margin: 0;
                text-align: center;
                color: #494947;
            }
        }
    }
    .body{
        margin-top: 20px;
        .border-bottom{
            border-bottom: 1px solid #4e5d6a;
        }
        .align-center{
            display: flex;
            align-items: center;
            padding-bottom: 5px;


            .itemEdit{
                --inner-padding-end: 0px;
                --padding-start: 0;
                ion-thumbnail{
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    img{
                        object-fit: cover;
                    }
                }
                ion-label{
                    color: #343434 !important;
                    font-size: 12px !important;
                    margin: 0;
                    white-space: normal;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical; 
                }
            }
            .inputGroup{
                display: flex;
                align-items: center;
                ion-button{
                    --padding-start: 10px !important;
                    --padding-end: 10px !important;
                    --padding-top: 5px !important;
                    --padding-bottom: 5px !important;
                    --background: transparent;
                    --background-focused: transparent;
                    --background-hover: transparent;
                    --background-activated: transparent;
                    --color: #494947;
                    --color-activated: #494947;
                    --color-focused: #494947;
                    color: #494947;
                    @media (max-width: 349px){
                        --padding-start: 5px !important;
                        --padding-end: 5px !important;
                    }
                }
                ion-input{
                    border: 1px solid #c1c1c1;
                    width: 40px;
                    min-width: 20px;
                    max-width: 30px;
                    height: 24px;
                    text-align: center;
                    --padding-end: 3px;
                }
                p{
                    margin: 0;
                    font-size: 12px;
                    color: #494947;
                    text-align: center;
                    font-weight: bold;
                }
            }
        }
        .text-center{
            display: block;
            text-align: center;
        }

        .d-flex{
            display:flex;
            justify-content: space-around;
            p{
                color: #494947;
                font-size: 14px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            ion-button{
                background-color: transparent;
                color: #494947;
                --background: transparent;
                --background-focused: transparent;
                --background-hover: transparent;
                --background-activated: transparent;
                --color: #494947;
                --color-activated: #494947;
                --color-focused: #494947;
            }
        }
        .rowPrice{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 70%;
            margin: auto;
            p{
                margin: 2.5px 0;
                color: #494947;
            }
            span{
                color:#494947;
            }
        }
        .info{
            padding: 10px;
            .padding{
                --padding-start: 0;
                --min-height: 20px;
            }
            .d-flex2{
                display: flex;
                align-items: start;
                p{
                    width: 85%;
                    margin: 0;
                    font-size: 14px;
                    color: #494947;
                }
                ion-button{
                    background-color: transparent;
                    color: #494947;
                    --background: transparent;
                    --background-focused: transparent;
                    --background-hover: transparent;
                    --background-activated: transparent;
                    --color: #494947;
                    --color-activated: #494947;
                    --color-focused: #494947;
                    width: 15%;
                    height: 20px;
                    margin: 0;
                    --overflow: visible;
                    ion-icon{
                        transform: scale(1.5);
                    }
                }

            }

            > p{
                margin: 0;
                font-size: 14px;
                color: #494947;
                &:nth-child(1){
                    font-size: 16px;
                }
            }
        }

        .btnPago{
            color: #fff;
            --background: #4e5d6a;
            --background-focused: #4e5d6a;
            --background-hover: #4e5d6a;
            --background-activated: #4e5d6a;
            --color: #fff;
            --color-activated: #fff;
            --color-focused: #fff; 
            float: right;
            margin-top: 10px;
            letter-spacing: 0;
            --padding-start: 16px !important;
            --padding-end: 16px !important;
            margin-right: 20px;
            font-size: 16px;
        }
    }
}