  <ion-content class="bodyAgregarTarjeta">
    <div class="body">
      <ion-list>
        <form [formGroup]="addcard" (ngSubmit)="onSubmit(addcard.value)" class="ion-margin-horizontal">
          <ion-item mode="md">
            <ion-label position="floating">Tarjeta número</ion-label>
            <ion-input type="number" formControlName="number" lines="none"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.number">
              <div class="error-message" *ngIf="addcard.get('number').hasError(validation.type) && (addcard.get('number').dirty || addcard.get('number').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <div class="inline-items">
            <ion-row>
              <ion-col size="6" class="ml-0 a">
                <ion-item mode="md">
                  <ion-label class="labelStacked" position="floating">Mes exp.</ion-label>
                  <ion-select class="ion-text-center  select-space" value="notifications" formControlName="date" interface="action-sheet" cancelText="Cerrar">
                    <ion-select-option class="ion-text-center" value="Enero">Enero</ion-select-option>
                    <ion-select-option class="ion-text-center" value="Febrero">Febrero</ion-select-option>
                    <ion-select-option class="ion-text-center" value="Marzo">Marzo</ion-select-option>
                    <ion-select-option class="ion-text-center" value="Abril">Abril</ion-select-option>
                    <ion-select-option class="ion-text-center" value="Mayo">Mayo</ion-select-option>
                    <ion-select-option class="ion-text-center" value="Junio">Junio</ion-select-option>
                    <ion-select-option class="ion-text-center" value="Julio">Julio</ion-select-option>
                    <ion-select-option class="ion-text-center" value="Agosto">Agosto</ion-select-option>
                    <ion-select-option class="ion-text-center" value="Septiembre">Septiembre</ion-select-option>
                    <ion-select-option class="ion-text-center" value="Octubre">Octubre</ion-select-option>
                    <ion-select-option class="ion-text-center" value="Noviembre">Noviembre</ion-select-option>
                    <ion-select-option class="ion-text-center" value="Diciembre">Diciembre</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="6" class="ml-0 b">
                <ion-item mode="md">
                  <ion-label class="labelStacked" position="floating">Año exp.</ion-label>
                  <ion-select class="ion-text-center select-space" value="notifications" formControlName="year" interface="action-sheet" cancelText="Cerrar">
                    <ion-select-option value="2020">2020</ion-select-option>
                    <ion-select-option value="2021">2021</ion-select-option>
                    <ion-select-option value="2022">2022</ion-select-option>
                    <ion-select-option value="2023">2023</ion-select-option>
                    <ion-select-option value="2024">2024</ion-select-option>
                    <ion-select-option value="2025">2025</ion-select-option>
                    <ion-select-option value="2026">2026</ion-select-option>
                    <ion-select-option value="2027">2027</ion-select-option>
                    <ion-select-option value="2028">2028</ion-select-option>
                    <ion-select-option value="2029">2029</ion-select-option>
                    <ion-select-option value="2030">2030</ion-select-option>
                    <ion-select-option value="2031">2031</ion-select-option>
                    <ion-select-option value="2032">2032</ion-select-option>
                    <ion-select-option value="2033">2033</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
          <ion-item mode="md">
            <ion-label position="floating">CVC</ion-label>
            <ion-input types="number" formControlName="cvc" lines="none"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.date">
              <div class="error-message" *ngIf="addcard.get('date').hasError(validation.type) && (addcard.get('date').dirty || addcard.get('date').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.year">
              <div class="error-message" *ngIf="addcard.get('year').hasError(validation.type) && (addcard.get('year').dirty || addcard.get('year').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.cvc">
              <div class="error-message" *ngIf="addcard.get('cvc').hasError(validation.type) && (addcard.get('cvc').dirty || addcard.get('cvc').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-item mode="md">
            <ion-label position="floating">Nombre en tarjeta</ion-label>
            <ion-input type="text" formControlName="name" lines="none"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.name">
              <div class="error-message" *ngIf="addcard.get('name').hasError(validation.type) && (addcard.get('name').dirty || addcard.get('name').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <div class="dflexCenter">
            <ion-button mode="md" type="submit" [disabled]="!addcard.valid" class="confirm">Agregar</ion-button>
            <!-- <ion-button mode="md" class="cancel" (click)="closeModal()">Cancelar</ion-button> -->
          </div>  
        </form>
      </ion-list>
    </div>
  </ion-content>
<!--   <ion-footer class="footer">
    
  </ion-footer>
 -->