  <ion-content class="bodyAgregarTarjeta">
    <div class="body">
      <ion-list>
        <form [formGroup]="addcard" (ngSubmit)="onSubmit(addcard.value)" class="ion-margin-horizontal">
          <ion-item mode="md">
            <ion-label position="floating">Tarjeta número</ion-label>
            <ion-input type="number" formControlName="number" lines="none"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.number">
              <div class="error-message" *ngIf="addcard.get('number').hasError(validation.type) && (addcard.get('number').dirty || addcard.get('number').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <div class="inline-items">
            <ion-item mode="md">
              <ion-label class="labelStacked" position="floating">Fecha exp.</ion-label>
              <ion-input class="edit" formControlName="date" type="date" lines="none"></ion-input>
            </ion-item>
            <ion-item mode="md">
              <ion-label position="floating">CVC</ion-label>
              <ion-input types="number" formControlName="cvc" lines="none"></ion-input>
            </ion-item>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.date">
              <div class="error-message" *ngIf="addcard.get('date').hasError(validation.type) && (addcard.get('date').dirty || addcard.get('date').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.cvc">
              <div class="error-message" *ngIf="addcard.get('cvc').hasError(validation.type) && (addcard.get('cvc').dirty || addcard.get('cvc').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-item mode="md">
            <ion-label position="floating">Nombre en tarjeta</ion-label>
            <ion-input type="text" formControlName="name" lines="none"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.name">
              <div class="error-message" *ngIf="addcard.get('name').hasError(validation.type) && (addcard.get('name').dirty || addcard.get('name').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <div class="dflexCenter">
            <ion-button mode="md" type="submit" [disabled]="!addcard.valid" class="confirm">Agregar</ion-button>
            <!-- <ion-button mode="md" class="cancel" (click)="closeModal()">Cancelar</ion-button> -->
          </div>  
        </form>
      </ion-list>
    </div>
  </ion-content>
<!--   <ion-footer class="footer">
    
  </ion-footer>
 -->