<ion-content class="bodyAddFamily">
	<div class="body">
		<h5>Agregar a Raus Familia</h5>
		<ion-list>
			<form [formGroup]="register" (ngSubmit)="onSubmit(register.value)" class="ion-margin-horizontal">
				<ion-item>
					<ion-label position="floating">Correo</ion-label>
					<ion-input formControlName="email" type="email" [(ngModel)]="email" (ionBlur)="getUser($event)"></ion-input>
				</ion-item>
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.email">
						<div class="error-message" *ngIf="register.get('email').hasError(validation.type) && (register.get('email').dirty || register.get('email').touched)">
							{{ validation.message }}
						</div>
					</ng-container>
				</div>
				<ion-item>
					<ion-label position="floating">Nombre</ion-label>
					<ion-input formControlName="name" [disabled]="disab" [(ngModel)]="name" type="text"></ion-input>
				</ion-item>
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.name">
						<div class="error-message" *ngIf="register.get('name').hasError(validation.type) && (register.get('name').dirty || register.get('name').touched)">
							{{ validation.message }}
						</div>
					</ng-container>
				</div>
				<ion-item>
					<ion-label position="floating">Apellido</ion-label>
					<ion-input formControlName="lastname" [disabled]="disab" [(ngModel)]="lastname" type="text"></ion-input>
				</ion-item>
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.lastname">
						<div class="error-message" *ngIf="register.get('lastname').hasError(validation.type) && (register.get('lastname').dirty || register.get('lastname').touched)">
							{{ validation.message }}
						</div>
					</ng-container>
				</div>
				<ion-item>
					<ion-label position="floating">Telefono</ion-label>
					<ion-input formControlName="phone" [disabled]="disab" [(ngModel)]="phone" type="text"></ion-input>
				</ion-item>
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.phone">
						<div class="error-message" *ngIf="register.get('phone').hasError(validation.type) && (register.get('phone').dirty || register.get('phone').touched)">
							{{ validation.message }}
						</div>
					</ng-container>
				</div>
				<div class="ion-text-center">
					<ion-button [disabled]="!exist" class="font15 btnConfig" color="bluedark" type="submit">Listo</ion-button>
				</div>
			</form>
		</ion-list>
	</div>
</ion-content>
